.header{
    .header-top{
        height: j;
        line-height: j;
        padding: 0 20px;
        text-align: right;
        a{
            margin-left: 40px;
        }
    }
    .breadcrumb{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
    }
}